{
  "exclude": ["\/types\/",".*\\.js$", ".*\\.map$", ".*\\.d\\.ts$"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "functionBind": false,
      "exportDefaultFrom": false
    },
    "target": "es2020",
    "paths": {
      "~/*": ["src/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs",
    "strictMode": true,
    "resolveFully": true,
    "noInterop": false
  }
}